.form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.inputContainer {
  width: 300px;
  margin: 0 70px;
}

.input {
  width: 193px;
  margin-left: 20px;
}

.submit {
  width: 200px;
  margin: 10px 150px;
  
}
.submit:disabled{
  opacity: 0.5;
}
